.rotate {
    animation: rotation 0.1s infinite linear alternate;
  }
  
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(720deg);
    }
  }

p
{
 border: 1px solid rebeccapurple;
 padding: 5em; 
 color: green;
}

li{
  color: green;
  text-align: center;
}