.legoku 
{
  /* animation: rotation 100s infinite linear; */
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  cursor: url("/Images/352_96.png"), auto;
}
  
.legoat
{
    animation: rotation 100s infinite linear; 
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.normaltext
{  
  margin-left: 20px;
  color: red;
  animation: none;
}
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(720deg);
    }
  }

p
{
 border: 1px solid rebeccapurple;
 padding: 5em; 
 color: green;
}

h2{
  color:red 
}

body{
  cursor: url("/Images/64_128.png"), auto;
  background-color: black;
}



li{
  display: inline-flex;
  margin-left: 20px;
  color: green;
  text-align: center;
  animation: rotation 10s infinite linear;
}

#player {
  display: none;
}

.item-a {
  grid-area: header;
}
.item-b {
  grid-area: main;
}
.item-c {
  grid-area: sidebar;
}
.item-d {
  grid-area: footer;
}

.container {
  display: grid;
  grid-template-columns: 50px 50px 50px 50px;
  grid-template-rows: auto;
  grid-template-areas: 
    "header header header header"
    "main main . sidebar"
    "footer footer footer footer";
}

